/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1751af;
  --ifm-color-primary-dark: #15499e;
  --ifm-color-primary-darker: #144595;
  --ifm-color-primary-darkest: #10397b;
  --ifm-color-primary-light: #5d93ea;
  --ifm-color-primary-lighter: #6e9eec;
  --ifm-color-primary-lightest: #acc7f4;
  --ifm-code-font-size: 95%;
  --ifm-footer-background-color: #1E0A3C;
  --ifm-font-family-base: urbane, sans-serif;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.gray-text {
  font-style: italic;
  color: gray;
}


html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}


.unique-tabs .tabs__item {
  line-height: 16px;
  margin-right: 8px;
}

.unique-tabs .tabs__item--active {
  border: 0;
  color: #fff;
  border-radius: var(--ifm-global-radius);
  background-color: #d62718;
}

#__docusaurus > nav > div.navbar__inner > div:nth-child(1) > a > b {
    color: #416ee7;
    font-family: urbane, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}

.smallfont {
    color: #416ee7;
    font-family: urbane, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 8px;
}

html[data-theme='light'] {
    --ifm-background-color: #f2f2fd;
    --ifm-footer-background-color: #1E0A3C;
    --ifm-font-family-base: urbane, sans-serif;
    --ifm-footer-color: var(--ifm-footer-link-color);
    --ifm-footer-link-color: var(--ifm-color-secondary);
    --ifm-footer-title-color: var(--ifm-color-white)
}

html[data-theme='light'] footer {
   background-color: #1E0A3C;
   font-color: #f5f6f7;
   --ifm-footer-font-color: #f5f6f7;
}

#__docusaurus > footer > div > div.text--center > div > a {
   font-color: #f5f6f7;
   --ifm-footer-font-color: #f5f6f7;
}

#__docusaurus > footer > div > div.row.footer__links > div > div {
   font-color: #f5f6f7;
   --ifm-footer-font-color: #f5f6f7;
}

#__docusaurus > footer > div > div.footer__bottom.text--center > div {
   font-color: #f5f6d7;
}
